.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 150px 175px 50px;
    transition: all 0.2s ease;
}
.cartContainer{
    width: 70%;
}
.payments{
    width: 27%;
    background-color: #fff;
    border: 1px solid silver;
    border-radius: 5px;
    text-align: left;
}
.payments p{
    color: rgb(36, 34, 34);
    margin: 20px 20px 10px;
}
.payments p span{
    color: blue;
    font-weight: bold;
}
.buttonContainer{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 50px 20px 10px;
}
.checkout{
    display: inline-block;
    background-color: #34a853;
    padding: 7px 16px;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    transition: all 0.2s ease;
    cursor: pointer;
    box-shadow: rgb(0, 0, 0.07) 0px 1px 1px, 
                rgb(0, 0, 0.07) 0px 2px 2px, 
                rgb(0, 0, 0.07) 0px 4px 4px,
                rgb(0, 0, 0.07) 0px 4px 8px,
                rgb(0, 0, 0.07) 0px 9px 16px, 
                    ;
}
.checkout:hover{
    background-color: #167d32;
}
.clear{
    color: #34a853;
    border: none;
    transition: all 0.2s ease;
    font-size: 1rem;
    cursor: pointer;
    background: none;

}
.clear:hover{
    background-color: #167d32;
    border-radius: 20px;
    color: #fff;
}
.complete{
    color: #34a853;
    margin: 30px 0 50px;
    font-size: 1.2rem;
}
.completeP{
    background-color: #1a73e8;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 90px;
    line-height: 30px;
    box-shadow: rgb(50, 50, 93, 0.25) 0px 4px 12px -2px, 
                rgb(0, 0, 0.03) 0px 7px -3px, 
                    ;
    margin-left: 5px;
}
.completeP:hover{
    background-color: #08499d;
}
